@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Roboto', sans-serif;
}

.container{
    width: 1200px;
    margin: auto;
}
.row{
     display: flex;
     /* flex-wrap: wrap;
     align-items: center;    */
}

img{
  
}
.col-3{
max-width: 33.33%;
flex-basis: 33.33%;
padding: 15px;
}
/* header css */


header{
    padding: 20px 0;
border-bottom:  2px solid #3b506c1a;
}
header .row{
   align-items: center; 
}
.logo{
    max-width: 20%;
    flex-basis: 20%;
}
.logo a{
    
}
.logo a img{

}
nav{
    max-width: 80%;
    flex-basis: 80%;
}
nav ul{
    display: flex;
    list-style: none;
    justify-content: flex-end;
}
nav ul li{
    
}
nav ul li a{
   display: block;
   color: #3B506C ;
   padding: 10px;
   text-transform: capitalize;
   font-size: 18px;
   font-weight: 400;
   text-decoration: none;
}
nav ul li a:hover{
    color: #008AFF;
    background-color: wheat;
    border-radius: 15px;
 
}
/* header css */

/* Banner css */
.banner-section{
 

}
.banner-section .container {
    /* padding: 50px 0;  */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.banner-section .container .content{
  text-align: center;
}
.banner-section .container .content h1{
   font-size: 55px;
   color: #3B506C;
}
.banner-section .container .content h1 span{
    color: #008AFF;
}
.banner-section .container .content h1 span b{
    /* height: 34px;  
    display: block;       
    width: 140px;        
    background: black;        
    position: absolute;        
    top: 50%;       
    right: 50%;      
    transform: translate(101%, -50%);     
    background: #0b0b0b;       
    z-index: -1; */
    background: #ebf1bf;
    z-index: -1;
    position: absolute;
    width: 189px;
    height: 67px;
}
.banner-section img {
    max-width: 500px;
} 
.banner-section .container .content p{
  color: #3b506cba;
  max-width: 800px;
  margin: 20px auto;
  font-weight: 300;
  font-size: 19px;
}
/* Banner css */

/* Features css */
.features-section{
    padding: 50px 0;
   
}
.features-section .row{
justify-content: center;
}

.features-content{

}

.features-content h2{
    font-size: 45px;
    color: #3B506C;
    line-height: 1;
    font-weight: 600;


}
.features-content h2 span{
    color:#FF6347;

}
.features-content p{
    color: #3b506cba;   
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    padding: 10px 0 0 0;

}
.text-right{
   text-align: right;
}


/* Card css */
.card-section{
padding: 20px 0;
}
.post{
    padding: 30px;
    box-shadow: 0 0 8px 0px  #dee6f1
}
.post:hover{
    transform: translateY(-17px);
    transition: all ease .5s;
}

.illustration-5_color{
background: #FDEBFD;
}
.illustration-6_color{
    background: #EBF9F4;
}
.illustration-7_color{
    background: #ebf1bf91;
}
.post h3{
    font-size: 24px;
    color:#162c48 ;
    line-height: 1;
    font-weight: 700;
}
.post img{
    max-height: 150px;
    display: block;
    margin:50px auto;
    margin-bottom: 25px;
}
.post p{
    color: #3b506c;  
    margin: 20px auto;
    font-weight: 400;
    margin: 5px auto;
    line-height: 1.6;
}
/* Footer css */
footer{
    background-color: #0c66FF;
    text-align: center;
    padding: 20px 0 20px 0;
}
footer p {
    color: #ffffff9f; 
   
}
footer p strong
{
    color: #FFF;
    letter-spacing: 3px;
}


/*sociallist*/
 
.sociallist{
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 50%;
    left: 10px;
    list-style: none;
    transform: translateY(-50%);
    }
    .sociallist li{
    
    
    }
    .sociallist li a{
        /* background: #3b506c;
        color: #ffffff;  
        margin-bottom: 8px;     
        border-radius: 50%;
        width: 40px;
        display: flex;
        height: 40px;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        box-shadow: 3px 3px 10px #04040430;
        border: 1px solid dotted;
        transition: all 0.3s ease; */
        background: #3b506c;
        color: #ffffff; 
        display: flex;
        width: 30px;
        height: 30px;
        text-decoration: none;
        border-radius: 50px;
        align-items: center;
        justify-content: center;
        margin-bottom: 9px;
       box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
        /* box-shadow: 9px 11px 30px #162c4866;; */
    }

    .sociallist li a:hover{
        background: #bde0d5;
        color: #3b506c;
        box-shadow: 9px 11px 30px #162c4866;;
    }
   
